 <html>
    <head>
        <title>Welcome</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Homepage of Shivam</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p> Each and every line has been coded my me!  </p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>It's part of my project.</p>
        </div>
    </body>
</html>